@model OrganizationsWaterSupplyL4.Models.Organization

@{
    ViewData["Title"] = "Create";
}

<h1>Create</h1>

<h4>Organization</h4>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="OrgName" class="control-label"></label>
                <input asp-for="OrgName" class="form-control" />
                <span asp-validation-for="OrgName" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="OwnershipType" class="control-label"></label>
                <input asp-for="OwnershipType" class="form-control" />
                <span asp-validation-for="OwnershipType" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="Adress" class="control-label"></label>
                <input asp-for="Adress" class="form-control" />
                <span asp-validation-for="Adress" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorFullname" class="control-label"></label>
                <input asp-for="DirectorFullname" class="form-control" />
                <span asp-validation-for="DirectorFullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="DirectorPhone" class="control-label"></label>
                <input asp-for="DirectorPhone" class="form-control" />
                <span asp-validation-for="DirectorPhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsibleFullname" class="control-label"></label>
                <input asp-for="ResponsibleFullname" class="form-control" />
                <span asp-validation-for="ResponsibleFullname" class="text-danger"></span>
            </div>
            <div class="form-group">
                <label asp-for="ResponsiblePhone" class="control-label"></label>
                <input asp-for="ResponsiblePhone" class="form-control" />
                <span asp-validation-for="ResponsiblePhone" class="text-danger"></span>
            </div>
            <div class="form-group">
                <input type="submit" value="Create" class="btn btn-primary" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">Back to List</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
